@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,700&display=swap');

@import "_config";




@import "elements/_ui-titles";
@import "elements/_ui-accordion";
@import "elements/_ui-carousel";
@import "elements/_buttons";



/* blocks */
@import "blocks/hero"; 
@import "blocks/banner-info"; 
@import "blocks/_header";
@import "blocks/_footer"; 
@import "blocks/_card-course";
@import "blocks/_card-testimonial";
@import "blocks/_price";
@import "blocks/_single";



body {
    background-color: rgba(26,26,26,1);
}


.videoWrapper  {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  

* {
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}

.list-invist{
    list-style: none;
   li {
        background-color: #1b1b1b;
        border-left:3px solid #e71d7c ;
        color: #fff;;
        &__text{ font-size: 24px;
            .number{  font-size: 36px;}
        } 
       }
    }

