.hero{
    min-height: 100vh;
    height: 900px;
    // background: radial-gradient(circle, white 0%, black 100%);
    // background-blend-mode: difference;
    /* background: #000; */
    background-size: cover;
    align-items: flex-end;
    display: flex;
    padding-bottom: 90px;
    font-family: "Raleway", sans-serif;

    h1{
         font-size: 68px;
         font-weight: 700;
         color: #fff;
    }

    &__content{
            
    }
    .btn-primary{ margin-top: 30px;}
}