 .entry-content{
    font-family: 'Open Sans';
    font-size: 20px;

    img{}

    h2{
        font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
    margin-top: 2em;
    margin-bottom: 1em;
    }
    h3{
        font-size: 23px;
        font-size: 1.4375rem;
        line-height: 1.2173913043;
        margin-top: 2.4347826087em;
        margin-bottom: 1.2173913043em;
    }
 }